body
{
    font-family: Arial;
}
#container
{
    width: 500px;
    margin: 0 auto;
}

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box
{
    width: 300px;
    padding: 40px;
    margin: 140px auto;
    background: #191919;
    text-align: center;
}

.box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus 
{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"]:hover
{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.pelicula{
    display: inline-block;
    width: 120px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

#paginas ul{
    margin: 10px 0;
    padding: 0;
}
#paginas li{
    display: inline-block;
    margin: 0;
    padding: 10px;
}

#paginas li a{
    background: rgb(228, 228, 228);
    border-radius: 3px;
    color: rgb(50, 50, 50);
    padding: 10px 15px;
    text-decoration: none;
}

.actual{
    background: rgb(20, 69, 124) !important;
    color: rgb(255, 255, 255) !important;
}